h1{
    text-align: center;
}
body {
background-color: black;
}

.pad{
    padding: 10px;
} 
.column {
    margin: auto;
    width: 58%;
    padding: 5px;
  }
  

.row::after {
    content: "";
    clear: both;
    display: table;
  } 
